{{ define "main" }}
<section class="section travel-onsite-info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <p>{{ .Params.description | markdownify }}</p>
                </div>
            </div>
        </div>

        <!-- Main content (Markdown content) -->
        <div class="row">
            <div class="col-12">
                {{ .Content }}
            </div>
        </div>
    </div>
</section>
{{ end }}
