.schedule-details .block {
  display: grid;
  grid-template-columns: 120px 160px 1fr 100px;
  align-items: center;
}


.schedule-details .block > div {
  padding: 10px;
}

.schedule-details .subject {
  flex: 1;
  display: flex;
  align-items: center;
  line-height: 1.4; /* atau 1.6 jika ingin teks lebih enak dibaca */
  padding-right: 10px;
}
